<?php

namespace App;

return [
    'authenticate_url' => 'https://chesszebra.com',
    'encryption_key' => '',

    'pdo' => [
        'dsn' => 'mysql:host=localhost;dbname=app;charset=utf8',
        'username' => '',
        'password' => '',
        'options' => [],
    ],

    'mongodb' => [
        'uri' => 'mongodb://127.0.0.1/',
        'database' => 'app',
        'uriOptions' => [],
        'driverOptions' => [],
    ],

    'dependencies' => [
        'factories' => [
// Enable the factories below to use PDO:
//            AuthCodeRepositoryInterface::class => OAuth\Repository\Pdo\Factory\AuthCodeFactory::class,
//            AccessTokenRepositoryInterface::class => OAuth\Repository\Pdo\Factory\AccessTokenFactory::class,
//            ClientRepositoryInterface::class => OAuth\Repository\Pdo\Factory\ClientFactory::class,
//            RefreshTokenRepositoryInterface::class => OAuth\Repository\Pdo\Factory\RefreshTokenFactory::class,
//            ScopeRepositoryInterface::class => OAuth\Repository\Pdo\Factory\ScopeFactory::class,

// Enable the factories below to use mongo:
//            AuthCodeRepositoryInterface::class => OAuth\Repository\Mongo\Factory\AuthCodeFactory::class,
//            AccessTokenRepositoryInterface::class => OAuth\Repository\Mongo\Factory\AccessTokenFactory::class,
//            ClientRepositoryInterface::class => OAuth\Repository\Mongo\Factory\ClientFactory::class,
//            RefreshTokenRepositoryInterface::class => OAuth\Repository\Mongo\Factory\RefreshTokenFactory::class,
//            ScopeRepositoryInterface::class => OAuth\Repository\Mongo\Factory\ScopeFactory::class,
        ],
    ],
];
